@if (Slot != null)
{
    <span @ref="TriggerElement">
        @Slot.Invoke(Attributes)
    </span>
}
else
{
    <span @ref="TriggerElement" @attributes="Attributes">
        @ChildContent
    </span>
}

@code
{
    [CascadingParameter] public HoverCard HoverCard { get; set; }
    
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment<Dictionary<string, object?>>? Slot { get; set; }

    internal ElementReference TriggerElement { get; private set; }
    internal bool IsInHover { get; private set; }
    
    private Dictionary<string, object?> Attributes;

    protected override void OnParametersSet()
    {
        HoverCard.Trigger = this;
        
        Attributes = new();

        Attributes["data-slot"] = "hover-card-trigger";
        Attributes["data-state"] = HoverCard.IsOpen ? "open" : "closed";
        
        Attributes["onmouseenter"] = EventCallback.Factory.Create(this, async () =>
        {
            IsInHover = true;
            await HoverCard.OnMouseEnterAsync();
        });
        
        Attributes["onmouseleave"] = EventCallback.Factory.Create(this, async () =>
        {
            IsInHover = false;
            await HoverCard.OnMouseLeaveAsync();
        });
    }
}