@inherits ShadcnBase

<span data-slot="context-menu-shortcut"
      class="@Classes"
      @attributes="Props">
    @ChildContent
</span>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "text-muted-foreground ml-auto text-xs tracking-widest",
            ClassName
        );
    }
}