@inherits ShadcnBase

@implements IContextMenuItem

<div data-slot="context-menu-item"
     data-inset="@Inset"
     data-variant="@Variant.ToString().ToLower()"
     data-disabled="@Disabled"
     class="@Classes"
     tabindex="-1"
     @onfocus="OnFocusAsync"
     @onclick="OnClickAsync"
     onmouseover="this.focus()"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [CascadingParameter] public IContextMenuParent Parent { get; set; }
    
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public ContextMenuItemVariant Variant { get; set; } = ContextMenuItemVariant.Default;
    [Parameter] public bool Inset { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "focus:bg-accent focus:text-accent-foreground data-[variant=destructive]:text-destructive data-[variant=destructive]:focus:bg-destructive/10 dark:data-[variant=destructive]:focus:bg-destructive/20 data-[variant=destructive]:focus:text-destructive data-[variant=destructive]:*:[svg]:!text-destructive [&_svg:not([class*='text-'])]:text-muted-foreground relative flex cursor-default items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-hidden select-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50 data-[inset]:pl-8 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4",
            "hover:cursor-pointer",
            ClassName
        );
    }

    private async Task OnClickAsync()
    {
        if(Disabled)
            return;

        await OnClick.InvokeAsync();
        await Parent.CloseMenuAsync();
    }
    
    private async Task OnFocusAsync()
    {
        if(Disabled)
            return;
        
        await Parent.ChangeFocusAsync(this);
    }

    public Task OnUnfocusAsync()
    {
        return Task.CompletedTask;
    }
}