@using System.Globalization
@using Microsoft.AspNetCore.Components.Sections
@using ShadcnBlazor.Interop

@inject PositionService PositionService

@if (MenuSub.ShouldRenderContent)
{
    <SectionContent SectionName="@Menu.SubContentSectionId">
        <div @ref="PositionElement" class="min-w-max z-50 fixed top-0 left-0" style="@PositionStyle">
            @ChildContent
        </div>
    </SectionContent>
}

@code
{
    [CascadingParameter(Name = "Menu")] public Menu Menu { get; set; }
    [CascadingParameter(Name = "MenuSub")] public MenuSub MenuSub { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private ElementReference PositionElement;
    private string PositionStyle;

    protected override void OnInitialized()
    {
        MenuSub.SetContentRef(this);
    }

    public async Task OnOpenedAsync(ElementReference trigger)
    {
        var position = await PositionService.PositionAroundAsync(trigger, PositionElement, PositionSide.Right);
        PositionStyle = $"left: {position.X.ToString(CultureInfo.InvariantCulture)}px; top: {position.Y.ToString(CultureInfo.InvariantCulture)}px";

        await InvokeAsync(StateHasChanged);
    }
}