@using Microsoft.AspNetCore.Components.Sections
@using ShadcnBlazor.Interop

@if (Menu.ShouldRenderContent)
{
    <SectionContent SectionName="@Menu.ContentSectionId">
        <div class="fixed inset-0 z-50" @onclick="OnBackdropClickAsync">
        
        </div>
    
        <div @ref="PositionElement" class="min-w-max z-50 fixed top-0 left-0" style="@PositionStyle">
            @ChildContent
        </div>
    </SectionContent>
}

@code
{
    [CascadingParameter(Name = "Menu")] public Menu Menu { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    
    [Parameter] public Func<ElementReference, Task<PositionService.Position>> PositionCallback { get; set; }

    private ElementReference PositionElement;
    private string PositionStyle;

    protected override void OnInitialized()
    {
        Menu.SetContentRef(this);
    }

    public async Task OnOpenedAsync()
    {
        var position = await PositionCallback.Invoke(PositionElement);
        PositionStyle = $"transform: translate({position.X}px, {position.Y}px)";

        await InvokeAsync(StateHasChanged);
    }

    private async Task OnBackdropClickAsync()
        => await Menu.CloseAsync();
}
