@inherits ShadcnBase

<div data-slot="alert-title"
     class="@Classes">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    
    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight",
            ClassName
        );
    }
}
