@page "/components/accordion"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Accordion</h1>
<div class="text-muted-foreground">
    A vertically stacked set of interactive headings that each reveal a section of content.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="AccordionSc1" />
    </div>
</div>
