@page "/components/alert"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Alert</h1>
<div class="text-muted-foreground">
    Displays a callout for user attention.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="AlertSc1" />
    </div>
</div>
