@page "/components/avatar"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Avatar</h1>
<div class="text-muted-foreground">
    An image element with a fallback for representing the user.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="AvatarSc1" />
    </div>
</div>