@page "/components/badge"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Badge</h1>
<div class="text-muted-foreground">
    Displays a badge or a component that looks like a badge.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="BadgeSc1" />
    </div>
</div>
