@page "/components/breadcrumb"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Breadcrumb</h1>
<div class="text-muted-foreground">
    Displays the path to the current resource using a hierarchy of links.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="BreadcrumbSc1" />
    </div>
</div>
