@page "/components/button"

@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Button</h1>
<div class="text-muted-foreground">
    Displays a button or a component that looks like a button.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="ButtonSc1" />
    </div>
</div>