@page "/components/buttonGroup"

@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Button Group</h1>
<div class="text-muted-foreground">
    A container that groups related buttons together with consistent styling.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="ButtonGroupSc1" />
    </div>
</div>