@page "/components/card"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Card</h1>
<div class="text-muted-foreground">
    Displays a card with header, content, and footer.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="CardSc1" />
    </div>
</div>