@page "/components/checkbox"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Checkbox</h1>
<div class="text-muted-foreground">
    A control that allows the user to toggle between checked and not checked.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="CheckboxSc1" />
    </div>
</div>