@page "/components/collapsible"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Collapsible</h1>
<div class="text-muted-foreground">
    An interactive component which expands/collapses a panel.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="CollapsibleSc1" />
    </div>
</div>