@page "/components/dialog"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Dialog</h1>
<div class="text-muted-foreground">
    A window overlaid on either the primary window or another dialog window, rendering the content underneath inert.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="DialogSc1" />
    </div>
</div>