@page "/components/empty"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Empty</h1>
<div class="text-muted-foreground">
    Use the Empty component to display an empty state.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="EmptySc1" />
    </div>
</div>