@page "/components/hoverCard"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">HoverCard</h1>
<div class="text-muted-foreground">
    For sighted users to preview content available behind a link.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="HoverCardSc1" />
    </div>
</div>