@page "/components/input"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Input</h1>
<div class="text-muted-foreground">
    Displays a form input field or a component that looks like an input field.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="InputSc1"/>
    </div>
</div>