@page "/components/item"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Item</h1>
<div class="text-muted-foreground">
    A versatile component that you can use to display any content.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="ItemSc1"/>
    </div>
</div>