@page "/components/kbd"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Kbd</h1>
<div class="text-muted-foreground">
    Used to display textual user input from keyboard.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="KbdSc1" />
    </div>
</div>