@page "/components/nativeSelect"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Native Select</h1>
<div class="text-muted-foreground">
    A styled native HTML select element with consistent design system integration.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="NativeSelectSc1" />
    </div>
</div>