@page "/components/pagination"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Pagination</h1>
<div class="text-muted-foreground">
    Pagination with page navigation, next and previous links.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="PaginationSc1" />
    </div>
</div>