@page "/components/popover"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Popover</h1>
<div class="text-muted-foreground">
    Displays rich content in a portal, triggered by a button.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="PopoverSc1" />
    </div>
</div>