@page "/components/progress"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Progress</h1>
<div class="text-muted-foreground">
    Displays an indicator showing the completion progress of a task, typically displayed as a progress bar.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="ProgressSc1" />
    </div>
</div>