@page "/components/separator"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Separator</h1>
<div class="text-muted-foreground">
    Visually or semantically separates content.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="SeparatorSc1" />
    </div>
</div>