@page "/components/spinner"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Spinner</h1>
<div class="text-muted-foreground">
    An indicator that can be used to show a loading state.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="SpinnerSc1" />
    </div>
</div>