@page "/components/tabs"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Tabs</h1>
<div class="text-muted-foreground">
    A set of layered sections of content—known as tab panels—that are displayed one at a time.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="TabsSc1" />
    </div>
</div>