@page "/components/textarea"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Textarea</h1>
<div class="text-muted-foreground">
    Displays a form textarea or a component that looks like a textarea.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="TextareaSc1" />
    </div>
</div>