@page "/components/toggle"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Toggle</h1>
<div class="text-muted-foreground">
    A two-state button that can be either on or off.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="ToggleSc1" />
    </div>
</div>