@page "/components/tooltip"
@using ShadcnBlazor.Test.UI.Components
@using ShadcnBlazor.Test.UI.Showcases

<h1 class="text-xl font-semibold">Tooltip</h1>
<div class="text-muted-foreground">
    A popup that displays information related to an element when the element receives keyboard focus or the mouse hovers over it.
</div>

<div class="mt-8">
    <div class="max-w-6xl">
        <Showcase T="TooltipSc1" />
    </div>
</div>