@inherits ShadcnBase

<div role="group"
     data-slot="input-group-addon"
     data-align="@GetAlignName()"
     class="@Classes"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public InputGroupAddonAlign Align { get; set; } = InputGroupAddonAlign.InlineStart;
    
    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "text-muted-foreground flex h-auto cursor-text items-center justify-center gap-2 py-1.5 text-sm font-medium select-none [&>svg:not([class*='size-'])]:size-4 [&>kbd]:rounded-[calc(var(--radius)-5px)] group-data-[disabled=true]/input-group:opacity-50",
            GetAlignClasses(),
            ClassName
        );
    }

    private string GetAlignClasses()
    {
        return Align switch
        {
            InputGroupAddonAlign.InlineStart => "order-first pl-3 has-[>button]:ml-[-0.45rem] has-[>kbd]:ml-[-0.35rem]",
            InputGroupAddonAlign.InlineEnd => "order-last pr-3 has-[>button]:mr-[-0.45rem] has-[>kbd]:mr-[-0.35rem]",
            InputGroupAddonAlign.BlockStart => "order-first w-full justify-start px-3 pt-3 [.border-b]:pb-3 group-has-[>input]/input-group:pt-2.5",
            InputGroupAddonAlign.BlockEnd => "order-last w-full justify-start px-3 pb-3 [.border-t]:pt-3 group-has-[>input]/input-group:pb-2.5",
            _ => throw new ArgumentOutOfRangeException()
        };
    }

    private string GetAlignName()
    {
        return Align switch
        {
            InputGroupAddonAlign.InlineStart => "inline-start",
            InputGroupAddonAlign.InlineEnd => "inline-end",
            InputGroupAddonAlign.BlockStart => "block-start",
            InputGroupAddonAlign.BlockEnd => "block-end",
            _ => throw new ArgumentOutOfRangeException()
        };
    }
}