@inherits ShadcnBase

<button @onclick="ToggleAsync"
        @onclick:stopPropagation="true"
        data-state="@(Value ? "checked" : "unchecked")"
        aria-checked="@(Value ? "true" : "false")"
        class="@Classes"
        @attributes="Props">
    @if (Value)
    {
        <span class="grid place-content-center text-current transition-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check size-3.5"><path d="M20 6 9 17l-5-5"/></svg>
        </span>
    }
</button>

@code
{

    #region Binder

    [Parameter]
    public bool Value
    {
        get => _value;
        set
        {
            if (_value == value) return;

            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    private bool _value;

    #endregion

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "peer border-input dark:bg-input/30 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground dark:data-[state=checked]:bg-primary data-[state=checked]:border-primary focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive size-4 shrink-0 rounded-[4px] border shadow-xs transition-shadow outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50",
            "hover:cursor-pointer",
            ClassName
        );
    }

    private async Task ToggleAsync()
    {
        Console.WriteLine("Toggle");
        
        Value = !Value;
        await InvokeAsync(StateHasChanged);
    }
}
