@layer utilities {
    .card {
        @apply bg-card text-card-foreground flex flex-col gap-6 rounded-xl border py-6 shadow-sm;
    }
    
    .card-header {
        @apply grid auto-rows-min grid-rows-[auto_auto] items-start gap-2 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6;
    }
    
    .card-title {
        @apply leading-none font-semibold;
    }
    
    .card-description {
        @apply text-muted-foreground text-sm;
    }
    
    .card-action {
        @apply col-start-2 row-span-2 row-start-1 self-start justify-self-end;
    }
    
    .card-content {
        @apply px-6;
    }
    
    .card-footer {
        @apply flex items-center px-6 [.border-t]:pt-6;
    }
}