@layer utilities {
    .dialog-overlay {
        @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 fixed inset-0 z-50 bg-black/50;
    }
    
    .dialog-content {
        @apply bg-background data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 fixed top-[50%] left-[50%] z-50 grid w-full max-w-[calc(100%-2rem)] translate-x-[-50%] translate-y-[-50%] gap-4 rounded-lg border p-6 shadow-lg duration-200 sm:max-w-lg;
    }
    
    .dialog-header {
        @apply flex flex-col gap-2 text-center sm:text-left;
    }
    
    .dialog-footer {
        @apply flex flex-col-reverse gap-2 sm:flex-row sm:justify-end;
    }
    
    .dialog-title {
        @apply text-lg leading-none font-semibold;
    }
    
    .dialog-description {
        @apply text-muted-foreground text-sm;
    }
}