@layer utilities {
    .empty {
        @apply flex min-w-0 flex-1 flex-col items-center justify-center gap-6 rounded-lg border-dashed p-6 text-center text-balance md:p-12;
    }

    .empty-header {
        @apply flex max-w-sm flex-col items-center gap-2 text-center;
    }

    .empty-media {
        @apply flex shrink-0 items-center justify-center mb-2 [&_svg]:pointer-events-none [&_svg]:shrink-0;
    }

    .empty-media-default {
        @apply bg-transparent;
    }

    .empty-media-icon {
        @apply bg-muted text-foreground flex size-10 shrink-0 items-center justify-center rounded-lg [&_svg:not([class*='size-'])]:size-6;
    }

    .empty-title {
        @apply text-lg font-medium tracking-tight;
    }

    .empty-description {
        @apply text-muted-foreground [&>a:hover]:text-primary text-sm/relaxed [&>a]:underline [&>a]:underline-offset-4;
    }
    
    .empty-content {
        @apply flex w-full max-w-sm min-w-0 flex-col items-center gap-4 text-sm text-balance;
    }
}