@inherits ShadcnBase

<div data-slot="card-action"
     class="@Classes"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    
    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn("col-start-2 row-span-2 row-start-1 self-start justify-self-end", ClassName);
    }
}