@using Microsoft.AspNetCore.Components.Sections
@inherits ShadcnBase

<div data-slot="menubar" class="@Classes" @attributes="Props">
    @ChildContent
</div>

<SectionOutlet SectionName="MenuOutlet" />

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    public bool IsFocused { get; private set; }

    public string MenuOutlet => $"menubar-menu-{GetHashCode()}";

    private string? Classes;
    
    protected override void OnParametersSet()
    {
        Classes = Cn(
            "bg-background flex h-9 items-center gap-1 rounded-md border p-1 shadow-xs",
            Classes
        );
    }
}
