@using ShadcnBlazor.Menu

@inherits ShadcnBase

<div data-state="@(Menu.IsOpen ? "open" : "closed")"
     class="@Classes"
     onmouseover="this.focus()"
     @onfocusin="OnFocusedAsync"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [CascadingParameter] public Menu Menu { get; set; }
    [CascadingParameter] public Menubar Menubar { get; set; }
    
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "focus:bg-accent focus:text-accent-foreground data-[state=open]:bg-accent data-[state=open]:text-accent-foreground flex items-center rounded-sm px-2 py-1 text-sm font-medium outline-hidden select-none",
            ClassName
        );
    }

    private async Task OnFocusedAsync()
    {
        if(!Menubar.IsFocused)
            return;
    }
}
