@using ShadcnBlazor.Menu
@inherits ShadcnBase

<div @ref="TriggerReference"
     data-slot="menubar-sub-trigger"
     data-inset="@Inset"
     data-state="@(MenuSub.IsOpen ? "open" : "closed")"
     class="@Classes"
     tabindex="-1"
     data-orientation="vertical"
     @onfocusin="OnFocusInAsync"
     onmouseover="this.focus()"
     @attributes="Props">
    @ChildContent
    
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right ml-auto size-4"><path d="m9 18 6-6-6-6"/></svg>
</div>

@code
{
    [CascadingParameter(Name = "MenuSub")] public MenuSub MenuSub { get; set; }
    
    [Parameter] public bool Inset { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;
    private ElementReference TriggerReference;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "focus:bg-accent focus:text-accent-foreground data-[state=open]:bg-accent data-[state=open]:text-accent-foreground flex cursor-default items-center rounded-sm px-2 py-1.5 text-sm outline-none select-none data-[inset]:pl-8",
            "hover:cursor-pointer",
            ClassName
        );
    }

    private async Task OnFocusInAsync()
    {
        if (MenuSub.IsOpen)
            return;

        await MenuSub.OpenAsync(TriggerReference);
    }
}
