@page "/btngroup"
@using ShadcnBlazor.Buttons

<div class="mt-8 mx-8">
    <ButtonGroup Orientation="ButtonGroupOrientation.Horizontal">
        <ButtonGroup ClassName="hidden sm:flex">
            <Button Variant="ButtonVariant.Outline" Size="ButtonSize.Icon" aria-label="Go Back">
                <i class="icon-arrow-left"></i>
            </Button>
        </ButtonGroup>
        <ButtonGroup>
            <Button Variant="ButtonVariant.Outline">Archive</Button>
            <Button Variant="ButtonVariant.Outline">Report</Button>
        </ButtonGroup>
        <ButtonGroup>
            <Button Variant="ButtonVariant.Outline">Snooze</Button>
        </ButtonGroup>
    </ButtonGroup>
</div>

<div class="mt-8 mx-8">
    <ButtonGroup Orientation="ButtonGroupOrientation.Vertical">
        <Button Variant="ButtonVariant.Outline">AAAAAAAAAAAAAA</Button>
        <Button Variant="ButtonVariant.Outline">BBBBBBBBBBBBBB</Button>
        <Button Variant="ButtonVariant.Outline">CCCCCCCCCCCCCC</Button>
    </ButtonGroup>
</div>