@page "/ddemo"
@using ShadcnBlazor.Buttons
@using ShadcnBlazor.Dropdowns

<div class="mx-8 mt-8 flex justify-center items-center h-[80vh]">
    <DropdownMenu>
        <DropdownMenuTrigger>
            <Slot>
                <Button Variant="ButtonVariant.Outline" @attributes="context">
                    Launch dropdown
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                </Button>
            </Slot>
        </DropdownMenuTrigger>
        <DropdownMenuContent>
            <DropdownMenuItem>
                Open
                <DropdownMenuShortcut>
                    Enter
                </DropdownMenuShortcut>
            </DropdownMenuItem>
            <DropdownMenuSub>
                <DropdownMenuSubTrigger>
                    Archiving
                </DropdownMenuSubTrigger>
                <DropdownMenuSubContent>
                    <DropdownMenuItem>
                        Create archive
                    </DropdownMenuItem>
                    <DropdownMenuItem>
                        Extract here
                    </DropdownMenuItem>
                    <DropdownMenuItem>
                        Extract to archive-1741179931
                    </DropdownMenuItem>
                </DropdownMenuSubContent>
            </DropdownMenuSub>
            <DropdownMenuItem>
                Cut
                <DropdownMenuShortcut>
                    Ctrl+X
                </DropdownMenuShortcut>
            </DropdownMenuItem>
            <DropdownMenuItem>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy-icon lucide-copy"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>
                Copy
                <DropdownMenuShortcut>
                    Ctrl+C
                </DropdownMenuShortcut>
            </DropdownMenuItem>
            
            <DropdownMenuItem Variant="DropdownMenuItemVariant.Destructive">
                Delete
                <DropdownMenuShortcut>
                    Del
                </DropdownMenuShortcut>
            </DropdownMenuItem>
            
            <DropdownMenuSub>
                <DropdownMenuSubTrigger>
                    Send to
                </DropdownMenuSubTrigger>
                <DropdownMenuSubContent>
                    <DropdownMenuItem>
                        Email
                    </DropdownMenuItem>
                    <DropdownMenuItem>
                        File Exchange
                    </DropdownMenuItem>
                    <DropdownMenuItem Variant="DropdownMenuItemVariant.Destructive">
                        Virus Scan
                    </DropdownMenuItem>
                </DropdownMenuSubContent>
            </DropdownMenuSub>
            <DropdownMenuSeparator />
            <DropdownMenuGroup>
                <DropdownMenuItem>GitHub</DropdownMenuItem>
                <DropdownMenuItem>Support</DropdownMenuItem>
                <DropdownMenuItem Disabled="true">API</DropdownMenuItem>
            </DropdownMenuGroup>
            <DropdownMenuSeparator />
            <DropdownMenuItem>Looooooooooooooooooong</DropdownMenuItem>
        </DropdownMenuContent>
    </DropdownMenu>
</div>
