@page "/empty"
@using ShadcnBlazor.Emptys
@using ShadcnBlazor.Buttons

<div class="mt-8 mx-8">
    <Empty>
        <EmptyHeader>
            <EmptyMedia Variant="EmptyMediaVariant.Icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-folder-open-icon lucide-folder-open">
                    <path
                        d="m6 14 1.5-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.54 6a2 2 0 0 1-1.95 1.5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H18a2 2 0 0 1 2 2v2"/>
                </svg>
            </EmptyMedia>
            <EmptyTitle>No Projects Yet</EmptyTitle>
            <EmptyDescription>
                You haven&apos;t created any projects yet. Get started by creating
                your first project.
            </EmptyDescription>
        </EmptyHeader>
        <EmptyContent>
            <div class="flex gap-2">
                <Button>Create Project</Button>
                <Button Variant="ButtonVariant.Outline">Import Project</Button>
            </div>
        </EmptyContent>
        <Button
            Variant="ButtonVariant.Link"
            ClassName="text-muted-foreground"
            Size="ButtonSize.Sm">
            <Slot>
                <a href="#" @attributes="context">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
                </a>
            </Slot>
        </Button>
    </Empty>
</div>