@page "/"
@using ShadcnBlazor.Buttons

<PageTitle>Home</PageTitle>

<div class="mt-8 mx-8 flex gap-5">
    <Button Variant="ButtonVariant.Outline">Jesper is nen Kind</Button>
    <Button Variant="ButtonVariant.Outline">
        <i class="icon-baby text-lg"></i>
        Jesper is nen Kind
    </Button>
    <Button Variant="ButtonVariant.Default">
        <i class="icon-baby text-lg"></i>
        Jesper is nen Kind
    </Button>
    <Button Variant="ButtonVariant.Default" disabled="disabled">Jesper is nen Kind</Button>
    <Button Variant="ButtonVariant.Outline" aria-invalid="true">Jesper is nen Kind</Button>
    <Button Variant="ButtonVariant.Destructive">Jesper is nen Kind</Button>
    <Button Variant="ButtonVariant.Secondary">Jesper is nen Kind</Button>
    <Button Variant="ButtonVariant.Ghost">Jesper is nen Kind</Button>
    <Button Variant="ButtonVariant.Link">Jesper is nen Kind</Button>
</div>

<div class="mt-8 mx-8 gap-5">
    <Button Variant="ButtonVariant.Default" Size="ButtonSize.Sm">Jesper is nen Kind</Button>
    <Button Variant="ButtonVariant.Default" Size="ButtonSize.Md">Jesper is nen Kind</Button>
    <Button Variant="ButtonVariant.Default" Size="ButtonSize.Lg">Jesper is nen Kind</Button>
</div>

<div class="mt-8 mx-8 gap-5">
    <Button Size="ButtonSize.IconSm">
        <i class="icon-baby"></i>
    </Button>
    <Button Size="ButtonSize.Icon">
        <i class="icon-baby text-lg"></i>
    </Button>
    <Button Size="ButtonSize.IconLg">
        <i class="icon-baby text-xl"></i>
    </Button>
</div>