@page "/progress"
@using ShadcnBlazor.Progresses

@implements IDisposable

<div class="mx-8 mt-8">
    <Progress Value="Value" Max="100"></Progress>
</div>

@code
{
    private int Value = 0;
    private Timer? Timer;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return Task.CompletedTask;

        Timer = new Timer(async _ =>
        {
            Value = Random.Shared.Next(0, 101);
            await InvokeAsync(StateHasChanged);
        }, null, TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1));
        
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        Timer?.Dispose();
    }
}
