@page "/select"

<div>
    <button type="button" @onclick="ToggleAsync" class="select-trigger" data-state="open" data-size="default">
        @if (string.IsNullOrWhiteSpace(SelectedItem))
        {
            <span>Select a value</span>
        }
        else
        {
            @SelectedItem
        }
        @if (IsVisible)
        {
            <i class="icon-chevron-up opacity-50"></i>
        }
        else
        {
            <i class="icon-chevron-down opacity-50"></i>
        }
    </button>
    
    @if (IsVisible)
    {
        <div class="select-content max-w-xs scrollbar-thin" data-side="bottom" data-state="open">
            <div class="select-viewport">
                <div class="select-label">Fancy Group</div>
                @foreach (var val in AvailableItems)
                {
                    var isSelected = SelectedItem == val;

                    <button @onclick="_ => SelectItemAsync(val)" type="button" class="select-item @(isSelected)">
                        @if (isSelected)
                        {
                            <span class="absolute right-2 flex size-3.5 items-center justify-center">
                                <i class="icon-check size-4"></i>
                            </span>
                        }

                        @val
                    </button>
                }
                
                <div class="select-label">Fancy Group 2</div>
                
                @foreach (var val in AvailableItems)
                {
                    var isSelected = SelectedItem == val;

                    <button @onclick="_ => SelectItemAsync(val)" type="button" class="select-item @(isSelected)">
                        @if (isSelected)
                        {
                            <span class="absolute right-2 flex size-3.5 items-center justify-center">
                                <i class="icon-check size-4"></i>
                            </span>
                        }

                        @val
                    </button>
                }
            </div>
        </div>
    }
</div>

@code
{
    private string? SelectedItem;
    private string[] AvailableItems = ["What", "a", "nice", "select", "menu"];

    private bool IsVisible = false;
    private bool IsOpening = false;

    private async Task ToggleAsync()
    {
        if (IsVisible)
            await CloseAsync();
        else
            await OpenAsync();
    }

    private async Task OpenAsync()
    {
        IsVisible = true;
        await InvokeAsync(StateHasChanged);

        await Task.Delay(50);

        IsOpening = true;
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task CloseAsync()
    {
        IsOpening = false;
        await InvokeAsync(StateHasChanged);

        await Task.Delay(50);

        IsVisible = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task SelectItemAsync(string item)
    {
        SelectedItem = item;
        await CloseAsync();
    }
}
