@page "/separator"
@using ShadcnBlazor.Separators

<div class="mt-8 mx-8">
    <div class="space-y-1">
        <h4 class="text-sm leading-none font-medium">ShadcnBlazor</h4>
        <p class="text-muted-foreground text-sm">
            An open-source UI component library.
        </p>
    </div>
    <Separator ClassName="my-4" />
    <div class="flex h-5 items-center space-x-4 text-sm">
        <div>Blog</div>
        <Separator Orientation="SeparatorOrientation.Vertical" />
        <div>Docs</div>
        <Separator Orientation="SeparatorOrientation.Vertical" />
        <div>Source</div>
    </div>
</div>