@page "/sidebar"

@using ShadcnBlazor.Sidebars

@inject NavigationManager Navigation

@{
    var url = new Uri(Navigation.Uri);
}

<SidebarProvider>
    <Sidebar Collapsible="SidebarCollapsible.OffCanvas">
        <SidebarHeader>
            <SidebarMenu>
                <SidebarMenuItem>
                    <SidebarMenuButton
                        ClassName="data-[slot=sidebar-menu-button]:!p-1.5">
                        <a href="#" class="flex flex-row items-center">
                            <i class="icon-blocks text-xl"></i>
                            <span class="ms-1 text-base font-semibold">ShadCnBlazor</span>
                        </a>
                    </SidebarMenuButton>
                </SidebarMenuItem>
            </SidebarMenu>
        </SidebarHeader>
        
        <SidebarContent>
            <SidebarGroup>
                <SidebarGroupLabel>Application</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        @foreach (var item in Items)
                        {
                            var isActive = item.Path.Equals(url.LocalPath, StringComparison.OrdinalIgnoreCase);
                            
                            <SidebarMenuItem>
                                <SidebarMenuButton IsActive="@isActive" AsChild="true">
                                    <a href="@item.Path" @attributes="context">
                                        <i class="@item.Icon"></i>
                                        <span>@item.Name</span>
                                    </a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                        }
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>
        </SidebarContent>
    </Sidebar>
    <div class="flex flex-1 flex-col gap-4 p-4">
        <div class="grid auto-rows-min gap-4 md:grid-cols-3">
            <div class="bg-muted/50 aspect-video rounded-xl"></div>
            <div class="bg-muted/50 aspect-video rounded-xl"></div>
            <div class="bg-muted/50 aspect-video rounded-xl"></div>
        </div>
        <div class="bg-muted/50 min-h-[100vh] flex-1 rounded-xl md:min-h-min"></div>
    </div>
</SidebarProvider>

@code
{
    private readonly List<SidebarItem> Items = new();

    protected override void OnInitialized()
    {
        Items.AddRange([
            new()
            {
                Name = "Dashboard",
                Icon = "icon-layout-dashboard",
                Path = "/"
            },
            new()
            {
                Name = "Empty State",
                Icon = "icon-box",
                Path = "/empty"
            },
            new()
            {
                Name = "Sidebar",
                Icon = "icon-panel-left-dashed",
                Path = "/sidebar"
            },
            new()
            {
                Name = "Input",
                Icon = "icon-clipboard-type",
                Path = "/input"
            }
        ]);
    }

    private record SidebarItem
    {
        public string Name { get; set; }
        public string Icon { get; set; }
        public string Path { get; set; }
    }
}
