@page "/testy"
@using Microsoft.AspNetCore.Components.Sections
@using ShadcnBlazor.Test.UI.Components

<SectionOutlet SectionName="Testy" />

<SectionContent SectionName="Testy">
    <h1>AAAAAAAAAAA</h1>
</SectionContent>