@using ShadcnBlazor.Buttons
@inherits ShadcnBase

<PaginationLink aria-label="Go to previous page"
                Size="ButtonSize.Default"
                ClassName="@Classes"
                @attributes="Props">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left "><path d="m15 18-6-6 6-6"/></svg>
    
    <span class="hidden sm:block">Previous</span>
</PaginationLink>

@code
{
    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn("gap-1 px-2.5 sm:pl-2.5", ClassName);
    }
}