@inherits ShadcnBase

<li data-slot="pagination-item" class="@Classes" @attributes="Props">
    @ChildContent
</li>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(ClassName);
    }
}
