@using ShadcnBlazor.Sidebars

@inject NavigationManager Navigation

@implements IDisposable

@{
    var url = new Uri(Navigation.Uri);
}

<Sidebar Variant="SidebarVariant.Inset" Collapsible="SidebarCollapsible.OffCanvas">
    <SidebarHeader>
        <SidebarMenu>
            <SidebarMenuItem>
                <SidebarMenuButton
                    ClassName="data-[slot=sidebar-menu-button]:p-1.5!">
                    <a href="#" class="flex flex-row items-center">
                        <img alt="Logo" src="shadcnblazor.svg" class="size-8" />
                        <span class="ms-2.5 text-lg font-semibold">ShadcnBlazor</span>
                    </a>
                </SidebarMenuButton>
            </SidebarMenuItem>
        </SidebarMenu>
    </SidebarHeader>
        
    <SidebarContent>
        <SidebarGroup>
            <SidebarGroupLabel>Fancy Group</SidebarGroupLabel>
            <SidebarGroupContent>
                <SidebarMenu>
                    @foreach (var item in Items)
                    {
                        var isActive = item.IsExactPath
                            ? item.Path == url.LocalPath
                            : url.LocalPath.StartsWith(item.Path, StringComparison.OrdinalIgnoreCase);
                            
                        <SidebarMenuItem @key="item">
                            <SidebarMenuButton IsActive="@isActive">
                                <Slot>
                                    <a href="@item.Path" @attributes="context">
                                        <i class="@item.Icon"></i>
                                        <span>@item.Name</span>
                                    </a>
                                </Slot>
                            </SidebarMenuButton>
                        </SidebarMenuItem>
                    }
                </SidebarMenu>
            </SidebarGroupContent>
        </SidebarGroup>
    </SidebarContent>
</Sidebar>

@code
{
    private readonly List<SidebarItem> Items = new();

    protected override void OnInitialized()
    {
        Items.AddRange([
            new()
            {
                Name = "Overview",
                Icon = "icon-layout-dashboard",
                Path = "/",
                IsExactPath = true
            },
            new()
            {
                Name = "Installation",
                Icon = "icon-wrench",
                Path = "/installation",
                IsExactPath = true
            },
            new()
            {
                Name = "Components",
                Icon = "icon-shapes",
                Path = "/components",
                IsExactPath = false
            },
        ]);
        
        Navigation.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        try
        {
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
            // Ignored
        }
    }

    private record SidebarItem
    {
        public string Name { get; set; }
        public string Icon { get; set; }
        public string Path { get; set; }
        public bool IsExactPath { get; set; }
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}
