@using ShadcnBlazor.Sidebars

@inherits LayoutComponentBase

<SidebarProvider>
    <AppSidebar />
    
    <SidebarInset>
        <div class="mx-8 my-8 w-fit">
            @Body
        </div>
    </SidebarInset>
</SidebarProvider>