@using ShadcnBlazor.Spinners

@typeparam T where T : ComponentBase

@inject HttpClient HttpClient

<div class="border border-card-foreground/10 rounded-lg">
    <div class="h-96 overflow-y-scroll border-b border-b-card-foreground/10 py-8 px-12 scrollbar-thin">
        <DynamicComponent Type="typeof(T)"/>
    </div>
    <div class="h-96 overflow-y-scroll scrollbar-thin @(ContentLoaded ? "" : "flex justify-center items-center")">
        @if (ContentLoaded)
        {
            <Highlight Content="@Content"/>
        }
        else
        {
            <Spinner ClassName="size-10"/>
        }
    </div>
</div>

@code
{
    private string Content;
    private bool ContentLoaded = false;
    private bool ContentLoadedFailed = false;

    private const string Repository = "ChiaraBm/ShadcnBlazor";
    private const string Branch = "main";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LoadSourceCodeAsync();
    }

    private async Task LoadSourceCodeAsync()
    {
        try
        {
            var typeName = typeof(T).Name;
            
            Content = await HttpClient.GetStringAsync(
                $"https://raw.githubusercontent.com/{Repository}/refs/heads/{Branch}/ShadcnBlazor.Test/UI/Showcases/{typeName}.razor"
            );
            
            ContentLoaded = true;
        }
        catch (Exception e)
        {
            Content = e.ToString();
            ContentLoadedFailed = true;
        }

        await InvokeAsync(StateHasChanged);
    }
}
