@using Microsoft.AspNetCore.Components.Sections

@inject PositionService PositionService

@if (MenuOpen)
{
    <SectionContent SectionName="@Dropdown.SubmenuOutletId">
        <div dir="ltr" class="min-w-max z-50 fixed top-0 left-0" style="@PositionStyle"
             @ref="Reference">
            <div data-side="right" data-align="start" role="menu" aria-orientation="vertical"
                 data-state="@(Sub.IsOpen ? "open" : "closed")"
                 data-radix-menu-content="" dir="ltr"
                 data-slot="dropdown-menu-sub-content"
                 class="bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 min-w-[8rem] origin-(--radix-dropdown-menu-content-transform-origin) overflow-hidden rounded-md border p-1 shadow-lg"
                 tabindex="-1" data-orientation="vertical">
                @ChildContent
            </div>
        </div>
    </SectionContent>
}

@code
{
    [CascadingParameter] public Dropdown Dropdown { get; set; }

    [CascadingParameter] public Sub Sub { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private ElementReference Reference;

    private bool MenuOpen;
    private string PositionStyle;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Sub.IsOpen && !MenuOpen)
        {
            MenuOpen = true;
            await InvokeAsync(StateHasChanged).ContinueWith(async _ =>
            {
                var newPosition = await PositionService.PositionNextToAsync(
                    Sub.TriggerReference,
                    Reference
                );
            
                PositionStyle = $"transform: translate({newPosition.Item1}px, {newPosition.Item2}px)";

                await InvokeAsync(StateHasChanged);
            });
        }

        if (!Sub.IsOpen && MenuOpen)
        {
            if(Dropdown.IsOpen)
                await Task.Delay(100);
            
            MenuOpen = false;
            await InvokeAsync(StateHasChanged);
        }
        
        Console.WriteLine(MenuOpen + " " + Sub.IsOpen);
    }
}
