<div role="menuitem" data-slot="dropdown-menu-item" data-variant="default"
     class="focus:bg-accent focus:text-accent-foreground data-[variant=destructive]:text-destructive data-[variant=destructive]:focus:bg-destructive/10 dark:data-[variant=destructive]:focus:bg-destructive/20 data-[variant=destructive]:focus:text-destructive data-[variant=destructive]:*:[svg]:!text-destructive [&amp;_svg:not([class*='text-'])]:text-muted-foreground relative flex cursor-default items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-hidden select-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50 data-[inset]:pl-8 [&amp;_svg]:pointer-events-none [&amp;_svg]:shrink-0 [&amp;_svg:not([class*='size-'])]:size-4"
     tabindex="-1" data-orientation="vertical" data-radix-collection-item=""
     onmouseover="this.focus()"
     @onfocusin="OnFocusIn"
     @ref="Reference">
    @ChildContent
</div>

@code
{
    [CascadingParameter] public Sub Sub { get; set; }
    [CascadingParameter] public Dropdown Dropdown { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private ElementReference Reference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Sub.IsOpen && Dropdown.ActiveItem != GetHashCode())
        {
            await Sub.CloseAsync();
        }
    }

    private async Task OnFocusIn()
    {
        await Sub.OpenAsync(Reference);
        await Dropdown.OnFocusItem(GetHashCode());
    }
}
