@inherits ShadcnBase

@if (Slot != null)
{
    @Slot.Invoke(Attributes)
}
else
{
    <p @attributes="Attributes">
        @ChildContent
    </p>
}

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment<Dictionary<string, object?>>? Slot { get; set; }

    private Dictionary<string, object?> Attributes;

    protected override void OnParametersSet()
    {
        Attributes = new();

        Attributes["data-slot"] = "dialog-description";
        
        Attributes["class"] = Cn(
            "text-muted-foreground text-sm",
            ClassName
        );
        
        if(Props == null)
            return;

        foreach (var prop in Props)
            Attributes[prop.Key] = prop.Value;
    }
}