@inherits ShadcnBase

<div data-slot="dialog-footer"
     class="@Classes"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "flex flex-col-reverse gap-2 sm:flex-row sm:justify-end",
            ClassName
        );
    }
}
