@inherits ShadcnBase

<div data-slot="empty-content"
     class="@Classes">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    
    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "flex w-full max-w-sm min-w-0 flex-col items-center gap-4 text-sm text-balance",
            ClassName
        );
    }
}
