@inherits ShadcnBase

<div data-slot="empty-header"
     class="@Classes"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "flex max-w-sm flex-col items-center gap-2 text-center",
            ClassName
        );
    }
}
