@inherits ShadcnBase

<li
    data-slot="sidebar-menu-item"
    data-sidebar="menu-item"
    class="@Cn("group/menu-item relative", ClassName)"
    @attributes="Props">
    @ChildContent
</li>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
}
