@inherits ShadcnBase

<div
    data-slot="sidebar-content"
    data-sidebar="content"
    class="@Cn(
               "flex min-h-0 flex-1 flex-col gap-2 overflow-auto group-data-[collapsible=icon]:overflow-hidden",
               ClassName)"
    @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
}
