@inherits ShadcnBase

<div
    data-slot="sidebar-footer"
    data-sidebar="footer"
    class="@Cn("flex flex-col gap-2 p-2", ClassName)"
    @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
}