@using ShadcnBlazor.Buttons

<Button @onclick="Callback">
    Trigger
</Button>

@code
{
    [CascadingParameter(Name = "Dropdown")] public DropdownMenu Dropdown { get; set; }

    private async Task Callback(MouseEventArgs obj)
    {
        await Dropdown.OpenAsync(obj.ClientX, obj.ClientY);
    }
}