@inherits ShadcnBase

<div data-slot="dropdown-menu-separator"
     class="@Classes"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    
    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn("bg-border -mx-1 my-1 h-px", ClassName);
    }
}