@inherits ShadcnBase

<div data-slot="dropdown-menu-label"
     class="@Classes"
     data-inset="@Inset"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Inset { get; set; }
    
    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn("px-2 py-1.5 text-sm font-medium data-[inset]:pl-8", ClassName);
    }
}