@using ShadcnBlazor.Interop
@using ShadcnBlazor.Menu

@inherits ShadcnBase

@inject PositionService PositionService

<MenuContent PositionCallback="OnPositionAsync">
    <div data-slot="dropdown-menu-content"
         data-state="@(Menu.IsOpen ? "open" : "closed")"
         class="@Classes"
         @attributes="Props">
        @ChildContent
    </div>
</MenuContent>

@code
{
    [CascadingParameter(Name = "DropdownMenu")]
    public DropdownMenu Context { get; set; }
    
    [CascadingParameter(Name = "Menu")] public Menu Menu { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 max-h-(--radix-dropdown-menu-content-available-height) min-w-[8rem] origin-(--radix-dropdown-menu-content-transform-origin) overflow-x-hidden overflow-y-auto rounded-md border p-1 shadow-md",
            ClassName
        );
    }

    private async Task<PositionService.Position> OnPositionAsync(ElementReference dropdownElement)
    {
        return await PositionService.PositionAroundAsync(
            Context.TriggerElement,
            dropdownElement,
            PositionPreference.Bottom
        );
    }
}
