@implements IDropdownItem

<div role="menuitem" data-slot="dropdown-menu-item" data-variant="default"
     class="focus:bg-accent focus:text-accent-foreground data-[variant=destructive]:text-destructive data-[variant=destructive]:focus:bg-destructive/10 dark:data-[variant=destructive]:focus:bg-destructive/20 data-[variant=destructive]:focus:text-destructive data-[variant=destructive]:*:[svg]:!text-destructive [&amp;_svg:not([class*='text-'])]:text-muted-foreground relative flex cursor-default items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-hidden select-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50 data-[inset]:pl-8 [&amp;_svg]:pointer-events-none [&amp;_svg]:shrink-0 [&amp;_svg:not([class*='size-'])]:size-4"
     tabindex="-1" data-orientation="vertical" data-radix-collection-item=""
     onmouseover="this.focus()"
     @onfocusin="HandleFocusAsync"
     @onclick="HandleClickAsync">
    @ChildContent
</div>

@code
{
    [CascadingParameter(Name = "DropdownNode")]
    public IDropdownNode Dropdown { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    private async Task HandleFocusAsync()
        => await Dropdown.SetFocusAsync(this);

    public Task HandleUnfocusAsync()
        => Task.CompletedTask;

    private async Task HandleClickAsync()
    {
        await Dropdown.HandleSelectionAsync();
    }
}
