@using ShadcnBlazor.Buttons
@using ShadcnBlazor.Menu

<Button>
    <Slot>
        <button @ref="Context.TriggerElement" type="button" @attributes="context" @onclick="OpenDropdownAsync">
            @ChildContent
        </button>
    </Slot>
</Button>

@code
{
    [CascadingParameter(Name = "Menu")] public Menu Menu { get; set; }
    [CascadingParameter(Name = "DropdownMenu")] public DropdownMenu Context { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private async Task OpenDropdownAsync()
    {
        await Menu.OpenAsync();
    }
}