@inherits ShadcnBase

<div data-slot="drawer-header" class="@Classes" @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "flex flex-col gap-0.5 p-4 group-data-[vaul-drawer-direction=bottom]/drawer-content:text-center group-data-[vaul-drawer-direction=top]/drawer-content:text-center md:gap-1.5 md:text-left",
            ClassName
        );
    }
}
