@inherits ShadcnBase

@if (Drawer.ShouldRenderContent)
{
    <DrawerOverlay />
    
    <div data-slot="drawer-content"
         class="@Classes"
         data-vaul-drawer-direction="@Drawer.Direction.ToString().ToLower()"
         data-side="@Drawer.Direction.ToString().ToLower()"
         data-state="@(Drawer.IsOpen ? "open" : "closed")"
         @attributes="Props">
        <div class="bg-muted mx-auto mt-4 hidden h-2 w-[100px] shrink-0 rounded-full group-data-[vaul-drawer-direction=bottom]/drawer-content:block"></div>
        
        @ChildContent
    </div>
}

@code
{
    [CascadingParameter] public Drawer Drawer { get; set; }
    
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "group/drawer-content bg-background fixed z-50 flex h-auto flex-col",
            "data-[vaul-drawer-direction=top]:inset-x-0 data-[vaul-drawer-direction=top]:top-0 data-[vaul-drawer-direction=top]:mb-24 data-[vaul-drawer-direction=top]:max-h-[80vh] data-[vaul-drawer-direction=top]:rounded-b-lg data-[vaul-drawer-direction=top]:border-b",
            "data-[vaul-drawer-direction=bottom]:inset-x-0 data-[vaul-drawer-direction=bottom]:bottom-0 data-[vaul-drawer-direction=bottom]:mt-24 data-[vaul-drawer-direction=bottom]:max-h-[80vh] data-[vaul-drawer-direction=bottom]:rounded-t-lg data-[vaul-drawer-direction=bottom]:border-t",
            "data-[vaul-drawer-direction=right]:inset-y-0 data-[vaul-drawer-direction=right]:right-0 data-[vaul-drawer-direction=right]:w-3/4 data-[vaul-drawer-direction=right]:border-l data-[vaul-drawer-direction=right]:sm:max-w-sm",
            "data-[vaul-drawer-direction=left]:inset-y-0 data-[vaul-drawer-direction=left]:left-0 data-[vaul-drawer-direction=left]:w-3/4 data-[vaul-drawer-direction=left]:border-r data-[vaul-drawer-direction=left]:sm:max-w-sm",
            "animate-in fade-in-0 data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[side=bottom]:slide-in-from-bottom-2 data-[side=bottom]:data-[state=closed]:slide-out-to-bottom-2 data-[side=left]:slide-in-from-left-2 data-[side=left]:data-[state=closed]:slide-out-to-left-2 data-[side=right]:slide-in-from-right-2 data-[side=right]:data-[state=closed]:slide-out-to-right-2 data-[side=top]:slide-in-from-top-2 data-[side=top]:data-[state=closed]:slide-out-to-top-2",
            ClassName
        );
    }
}
