@if (Slot != null)
{
    @Slot.Invoke(Attributes)
}
else
{
    <span @attributes="Attributes">
        @ChildContent
    </span>
}

@code
{
    [CascadingParameter] public Drawer Drawer { get; set; }
    
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment<Dictionary<string, object?>>? Slot { get; set; }

    private Dictionary<string, object?> Attributes;

    protected override void OnParametersSet()
    {
        Attributes = new();
        
        Attributes["onclick"] = EventCallback.Factory.Create(this, Drawer.OpenAsync);
    }
}