@inherits ShadcnBase

<div data-slot="item-title"
     class="@Classes"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "flex w-fit items-center gap-2 text-sm leading-snug font-medium",
            ClassName
        );
    }
}