@inherits ShadcnBase

<div data-slot="item-media"
     data-variant="@Variant.ToString().ToLowerInvariant()"
     class="@Classes"
     @attributes="Props">
    @ChildContent
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public ItemMediaVariant Variant { get; set; } = ItemMediaVariant.Default;

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "flex shrink-0 items-center justify-center gap-2 group-has-[[data-slot=item-description]]/item:self-start [&_svg]:pointer-events-none group-has-[[data-slot=item-description]]/item:translate-y-0.5",
            GetVariantClasses(),
            ClassName
        );
    }

    private string GetVariantClasses()
    {
        return Variant switch
        {
            ItemMediaVariant.Default => "bg-transparent",
            ItemMediaVariant.Icon => "size-8 border rounded-sm bg-muted [&_svg:not([class*='size-'])]:size-4",
            ItemMediaVariant.Image => "size-10 rounded-sm overflow-hidden [&_img]:size-full [&_img]:object-cover",
            _ => throw new ArgumentOutOfRangeException()
        };
    }
}