@inherits ShadcnBase

<div data-state="@(IsOpen ? "open" : "closed")"
     data-orientation="vertical"
     data-slot="accordion-item"
     class="@Classes"
     @attributes="Props">
    <CascadingValue TValue="AccordionItem" IsFixed="true" Name="AccordionItem" Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code
{
    [CascadingParameter(Name = "Accordion")] public Accordion Accordion { get; set; }
    
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Value { get; set; }

    public bool IsOpen { get; private set; }
    public bool ShouldRenderContent { get; private set; }

    private string? Classes;
    private AccordionContent ContentRef;

    protected override void OnInitialized()
    {
        Accordion.AddItem(this);
    }

    protected override void OnParametersSet()
    {
        Classes = Cn("border-b last:border-b-0", ClassName);
    }

    public async Task OnSelectionChangedAsync()
    {
        var isActive = Accordion.Values.Contains(Value);

        if (isActive && !IsOpen)
            await OpenAsync();
        else if (!isActive && IsOpen)
            await CloseAsync();
    }

    private async Task OpenAsync()
    {
        IsOpen = true;
        ShouldRenderContent = true;
        
        await InvokeAsync(StateHasChanged).ContinueWith(async _ =>
        {
            await ContentRef.OnOpened();
        });
    }

    private async Task CloseAsync()
    {
        IsOpen = false;
        
        await InvokeAsync(StateHasChanged).ContinueWith(async _ =>
        {
            await Task.Delay(100);
            
            ShouldRenderContent = false;
            await InvokeAsync(StateHasChanged);
        });
    }

    internal void SetContentRef(AccordionContent content)
        => ContentRef = content;
}
