@inherits ShadcnBase

@if (AsChild)
{
    @ChildContent.Invoke(Attributes)
}
else
{
    <span @attributes="Attributes">
        @ChildContent.Invoke(null!)
    </span>
}

@code
{
    [Parameter] public RenderFragment<Dictionary<string, object?>> ChildContent { get; set; }
    [Parameter] public bool AsChild { get; set; }
    [Parameter] public BadgeVariant Variant { get; set; } = BadgeVariant.Primary;

    private Dictionary<string, object?> Attributes;

    protected override void OnParametersSet()
    {
        Attributes = new();

        Attributes["data-slot"] = "badge";

        Attributes["class"] = Cn(
            "inline-flex items-center justify-center rounded-full border px-2 py-0.5 text-xs font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 gap-1 [&>svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden",
            GetVariantCss(),
            ClassName
        );
        
        if(Props == null)
            return;

        foreach (var prop in Props)
            Attributes[prop.Key] = prop.Value;
    }

    private string GetVariantCss()
    {
        return Variant switch
        {
            BadgeVariant.Primary => "border-transparent bg-primary text-primary-foreground [a&]:hover:bg-primary/90",
            BadgeVariant.Secondary => "border-transparent bg-secondary text-secondary-foreground [a&]:hover:bg-secondary/90",
            BadgeVariant.Destructive => "border-transparent bg-destructive text-white [a&]:hover:bg-destructive/90 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60",
            BadgeVariant.Outline => "text-foreground [a&]:hover:bg-accent [a&]:hover:text-accent-foreground",
            _ => throw new ArgumentOutOfRangeException()
        };
    }
}
