@using ShadcnBlazor.Items
@using ShadcnBlazor.Buttons

<div class="flex w-full max-w-md flex-col gap-6">
    <Item Variant="ItemVariant.Outline">
        <ItemContent>
            <ItemTitle>Basic Item</ItemTitle>
            <ItemDescription>
                A simple item with title and description.
            </ItemDescription>
        </ItemContent>
        <ItemActions>
            <Button Variant="ButtonVariant.Outline" Size="ButtonSize.Sm">
                Action
            </Button>
        </ItemActions>
    </Item>
    <Item Variant="ItemVariant.Outline" Size="ItemSize.Sm" Context="itemAttr">
        <Slot>
            <a href="#" @attributes="itemAttr">
                <ItemMedia>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-badge-check-icon lucide-badge-check size-5">
                        <path
                            d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"/>
                        <path d="m9 12 2 2 4-4"/>
                    </svg>
                </ItemMedia>
                <ItemContent>
                    <ItemTitle>Your profile has been verified.</ItemTitle>
                </ItemContent>
                <ItemActions>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-chevron-right-icon lucide-chevron-right size-4">
                        <path d="m9 18 6-6-6-6"/>
                    </svg>
                </ItemActions>
            </a>
        </Slot>
    </Item>
</div>