@using ShadcnBlazor.Skeletons

<div class="flex items-center space-x-4">
    <Skeleton ClassName="h-12 w-12 rounded-full" />
    <div class="space-y-2">
        <Skeleton ClassName="h-4 w-[250px]" />
        <Skeleton ClassName="h-4 w-[200px]" />
    </div>
</div>