@using ShadcnBlazor.Buttons
@using ShadcnBlazor.Sonners
@using ShadcnBlazor.Spinners

<ol dir="ltr" tabindex="-1" class="flex flex-col gap-y-5">
    <Sonner>
        <SonnerHeader>
            <SonnerTitle>Event has been created</SonnerTitle>
            <SonnerDescription>Sunday, December 03, 2023 at 9:00 AM</SonnerDescription>
        </SonnerHeader>
        <Button Variant="ButtonVariant.Default" Size="ButtonSize.Sm">
            Undo
        </Button>
    </Sonner>
    
    <Sonner>
        <SonnerHeader>
            <SonnerTitle>Event has been created</SonnerTitle>
            <SonnerDescription>Sunday, December 03, 2023 at 9:00 AM</SonnerDescription>
        </SonnerHeader>
    </Sonner>
    
    <Sonner>
        <Spinner />
        <SonnerHeader>
            <SonnerTitle>Event has been created</SonnerTitle>
            <SonnerDescription>Sunday, December 03, 2023 at 9:00 AM</SonnerDescription>
        </SonnerHeader>
    </Sonner>
    
    <Sonner>
        <SonnerHeader>
            <SonnerTitle>Event has been created</SonnerTitle>
        </SonnerHeader>
    </Sonner>
    
    <Sonner>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check size-4"><path d="M20 6 9 17l-5-5"/></svg>
        <SonnerHeader>
            <SonnerTitle>Event has been created</SonnerTitle>
        </SonnerHeader>
    </Sonner>
</ol>